
<div class="container">
    <h1>Search Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Customer Id</label>
        <input type="number" class="form-control" name="custid" required [(ngModel)]="filter.custid">
      </div>

      <div class="form-group">
        <label for="alterEgo">Month</label>
        <select class="form-control" name="month" required [(ngModel)]="filter.transaction">
          <option>Jun</option>
          <option>July</option>
          <option>Aug</option>
      </select>
      </div>

    <!--  <button type="submit" class="btn btn-success">Submit</button>-->

    </form>

    <table>
      <tr>
          <th>Customer Id&nbsp;&nbsp;&nbsp;</th>
        <th>Classification&nbsp;&nbsp;&nbsp;</th>
          <th>Transactions&nbsp;&nbsp;&nbsp;</th>
          <th>Balance&nbsp;&nbsp;&nbsp;</th>
      </tr>
      <tr  *ngFor="let item of ClassificationList |  filterargs : filter " >
        <th>{{item.custid}}&nbsp;&nbsp;&nbsp;</th>
        <td>{{getClassification(item.custid)}}&nbsp;&nbsp;&nbsp;</td>
          <td>{{item.transaction}}&nbsp;&nbsp;&nbsp;</td>
            <td>{{item.balance}}&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </table>
</div>
